
CONFIG_FRAME_WARN=4096

CONFIG_ZRAM_WRITEBACK=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_SLUB_CPU_PARTIAL=y
CONFIG_REFCOUNT_FULL=y
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_POSIX_MQUEUE=y
CONFIG_POSIX_MQUEUE_SYSCTL=y
CONFIG_AUDIT_WATCH=y
CONFIG_AUDIT_TREE=y
CONFIG_RD_BZIP2=y
CONFIG_RD_LZMA=y
CONFIG_RD_XZ=y
# CONFIG_HZ_300 is not set
CONFIG_HZ_100=y
CONFIG_HZ=100
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_DEFAULT_MMAP_MIN_ADDR=32768
CONFIG_RAW_DRIVER=y
CONFIG_MAX_RAW_DEVS=256
CONFIG_MSM_SDE_ROTATOR_EVTLOG_DEBUG=y
CONFIG_DRM_MSM_REGISTER_LOGGING=y
CONFIG_DSI_PARSER=y
CONFIG_DRM_MSM_KCAL_CTRL=y
CONFIG_DRM_SDE_EVTLOG_DEBUG=y
CONFIG_QCOM_MEMORY_DUMP_V2=y
