CONFIG_VIDEO_V4L2_SUBDEV_API=y
CONFIG_VIDEO_V4L2=y
# CONFIG_MSM_CAMERA is not set
CONFIG_DRM_FBDEV_EMULATION=y

## THERMAL_GOV # Should be switched on dts:
## Search for "thermal-governor = " in dts/qcom
## Replace "user_space" with "stop_wise"
#CONFIG_THERMAL_GOV_USER_SPACE=n
#CONFIG_THERMAL_GOV_STEP_WISE=y

# CONFIG_MSM_PERFORMANCE is not set

## Memory protections
CONFIG_QCOM_QHEE_ENABLE_MEM_PROTECTION=y
CONFIG_CMA=y
CONFIG_PAGE_POISONING=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_HARDENED_USERCOPY0=y
CONFIG_ARM64_KERNEL_PAN=y


## Configs noves crdroid7
CONFIG_LEDS_QCOM_CLK=y

#CONFIG_INIT_STACK_ALL_ZERO=y (4.19 droi fragment)

# Docker stuff, should be investigated whether
# this makes sense to move to a fragment
CONFIG_BRIDGE_NETFILTER=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y
CONFIG_NETFILTER_XT_MATCH_IPVS=y
CONFIG_POSIX_MQUEUE=y
CONFIG_CGROUP_PIDS=y
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_IP_VS=m
CONFIG_IP_VS_NFCT=y
CONFIG_IP_VS_PROTO_TCP=y
CONFIG_IP_VS_PROTO_UDP=y
CONFIG_IP_VS_RR=m
CONFIG_VXLAN=m
CONFIG_BRIDGE_VLAN_FILTERING=y

## Virtualization
CONFIG_VIRTUALIZATION=y
## KVM
CONFIG_KVM=y
CONFIG_HARDEN_BRANCH_PREDICTOR=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_ARM64_ERRATUM_834220=y
CONFIG_MMU_NOTIFIER=y
# CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY is not set
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_HAVE_KVM_IRQFD=y
CONFIG_HAVE_KVM_IRQ_ROUTING=y
CONFIG_HAVE_KVM_EVENTFD=y
CONFIG_KVM_MMIO=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_KVM_VFIO=y
CONFIG_HAVE_KVM_ARCH_TLB_FLUSH_ALL=y
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=y
CONFIG_KVM_COMPAT=y
CONFIG_KVM_ARM_HOST=y
CONFIG_KVM_ARM_PMU=y

## Fix error --thinlto-cache-dir=.thinlto-cache unknown option
#CONFIG_LTO is not set
#CONFIG_ARCH_SUPPORTS_LTO_CLANG is not set
#CONFIG_ARCH_SUPPORTS_THINLTO is not set
#CONFIG_THINLTO is not set
#CONFIG_LTO_NONE is not set
#CONFIG_LTO_CLANG is not set


