## More output on the linux image creation
#CONFIG_DEBUG_SECTION_MISMATCH=y

#CONFIG_KPROBES=y
#CONFIG_RELAY=y
#CONFIG_DEBUG_KERNEL=y
#CONFIG_DEBUG_INFO=y

## debug_fs: menuconfig disables a lot of configs whe enabling If not, the build crashes
CONFIG_DEBUG_FS=y
CONFIG_BLK_DEBUG_FS=y
CONFIG_BT_DEBUGFS=y
# CONFIG_IRQ_DOMAIN_DEBUG is not set
# CONFIG_GENERIC_IRQ_DEBUGFS is not set
# CONFIG_GCOV_KERNEL is not set
# CONFIG_CMA_DEBUGFS is not set
# CONFIG_L2TP_DEBUGFS is not set
# CONFIG_CFG80211_DEBUGFS is not set
# CONFIG_REGMAP_ALLOW_WRITE_DEBUGFS is not set
# CONFIG_ZRAM_MEMORY_TRACKING is not set
# CONFIG_TEST_IRQ_REQUESTER is not set
# CONFIG_SKY2_DEBUG is not set
# CONFIG_USB_GADGET_DEBUG_FS is not set
# CONFIG_SW_SYNC is not set
# CONFIG_IPA_UT is not set
# CONFIG_MSM_REMOTEQDSS is not set
# CONFIG_QTI_RPM_STATS_LOG is not set
# CONFIG_QMP_DEBUGFS_CLIENT is not set
# CONFIG_MSM_TZ_LOG is not set
# CONFIG_LKDTM is not set
