# Ensure overlay gets built
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# WLAN
CONFIG_QCA_CLD_WLAN=y

# OTG
CONFIG_USB_OTG=y

# CIFS
CONFIG_CIFS=y

## Virtualization
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y
## BRANCH_PREDICTOR needed to avoid KVM build crash
CONFIG_HARDEN_BRANCH_PREDICTOR=y

# dm crypt
CONFIG_DM_CRYPT=y
CONFIG_DM_BOW=y

## kernel image compression
## For Droidian, in kernel-info.mk:
#KERNEL_BUILD_TARGET = Image.gz
# CONFIG_BUILD_ARM64_UNCOMPRESSED_KERNEL is not set
CONFIG_BUILD_ARM64_KERNEL_COMPRESSION_GZIP=y
CONFIG_KERNEL_GZIP=y
CONFIG_HAVE_KERNEL_GZIP=y
# CONFIG_HAVE_KERNEL_LZ4 is not set
# CONFIG_KERNEL_LZ4 is not set

## From vacummbeef)
# stune is needed by droidian-perf.service
CONFIG_CGROUP_SCHEDTUNE=y
CONFIG_SCHED_TUNE=y
CONFIG_SCHED_AUTOGROUP=y

## Sound Extras
CONFIG_SND_SEQUENCER=y
