## fs security
CONFIG_FSNOTIFY=y
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=y
#CONFIG_AUDIT_TREE=y
#CONFIG_AUDIT_WATCH=y

## other security configs
CONFIG_QCOM_QHEE_ENABLE_MEM_PROTECTION=y
CONFIG_DEBUG_RODATA=y
CONFIG_STRICT_DEVMEM=y
CONFIG_CC_STACKPROTECTOR=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_SECURITYFS=y
CONFIG_SECURITY_NETWORK=y
CONFIG_NETLABEL=y
CONFIG_SECURITY_PATH=y
CONFIG_SECURITY_TOMOYO=y
CONFIG_DEFAULT_SECURITY="apparmor"
CONFIG_SECURITY_APPARMOR=y
CONFIG_SECURITY_APPARMOR_HASH=y
CONFIG_SECURITY_APPARMOR_UNCONFINED_INIT=y
CONFIG_SECURITY_YAMA=y
CONFIG_SECURITY_YAMA_STACKED=y
CONFIG_EVM=y
CONFIG_EVM_HMAC_VERSION=2
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_SECURITY_APPARMOR_BOOTPARAM_VALUE=1
CONFIG_SECURITY_TOMOYO_MAX_ACCEPT_ENTRY=2048
CONFIG_SECURITY_TOMOYO_MAX_AUDIT_LOG=1024
CONFIG_SECURITY_TOMOYO_POLICY_LOADER="/sbin/tomoyo-init"
CONFIG_SECURITY_TOMOYO_ACTIVATION_TRIGGER="/sbin/init"
CONFIG_DEFAULT_MMAP_MIN_ADDR=32768
CONFIG_DEFAULT_SECURITY_APPARMOR=y
## SELINUX
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_BOOTPARAM_VALUE=0
#CONFIG_SECURITY_SELINUX_DISABLE=y
#CONFIG_SECURITY_SELINUX_DEVELOP=y
#CONFIG_SECURITY_SELINUX_AVC_STATS=y
CONFIG_SECURITY_SELINUX_CHECKREQPROT_VALUE=1
CONFIG_SECURITY_SELINUX_SIDTAB_HASH_BITS=9
