## Enable all LTO optimizations
CONFIG_LTO=y
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_ARCH_SUPPORTS_THINLTO=y
# CONFIG_LTO_NONE is not set
CONFIG_LTO_CLANG=y
CONFIG_THINLTO=y

## Trim unused symbols
CONFIG_TRIM_UNUSED_KSYMS=y
CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y

## Linux image optimization
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set