# Ensure overlay gets built
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# WLAN
CONFIG_QCA_CLD_WLAN=y

# OTG
CONFIG_USB_OTG=y

# CIFS
CONFIG_CIFS=y

# dm crypt
CONFIG_DM_CRYPT=y

## kernel image compression
## For Droidian, in kernel-info.mk:
#KERNEL_BUILD_TARGET = Image.gz
# CONFIG_BUILD_ARM64_UNCOMPRESSED_KERNEL is not set
CONFIG_BUILD_ARM64_KERNEL_COMPRESSION_GZIP=y
CONFIG_KERNEL_GZIP=y
CONFIG_HAVE_KERNEL_GZIP=y
# CONFIG_HAVE_KERNEL_LZ4 is not set
# CONFIG_KERNEL_LZ4 is not set

## From vacummbeef)
# stune is needed by droidian-perf.service
CONFIG_SCHED_TUNE=y

## Sound Extras
CONFIG_SND_SEQUENCER=y

## block device network mirroring
CONFIG_DRBD=y

## Sensors IIO optimization
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGER=y

## Enable modules support
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_STRICT_MODULE_RWX=y
CONFIG_MODULES=y
CONFIG_MODULES_TREE_LOOKUP=y
CONFIG_ARM64_MODULE_CMODEL_LARGE=y
CONFIG_ARM64_MODULE_PLTS=y
CONFIG_RANDOMIZE_MODULE_REGION_FULL=y

## cpu freq msm support
CONFIG_CPU_FREQ_MSM=y
