## Virtualization
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y
## BRANCH_PREDICTOR needed to avoid KVM build crash
CONFIG_HARDEN_BRANCH_PREDICTOR=y

## Watchdog
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_CORE=y
CONFIG_WATCHDOG_NOWAYOUT=y

## Enable sync framework options
CONFIG_SYNC=y
CONFIG_SW_SYNC=y
CONFIG_SW_SYNC_USER=y
CONFIG_ONESHOT_SYNC=y

## FW loader from user-space
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y

CONFIG_SCHED_AUTOGROUP=y
## Disable Android low memory killer
# CONFIG_HAVE_LOW_MEMORY_KILLER is not set
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set
# CONFIG_ANDROID_LOW_MEMORY_KILLER_AUTODETECT_OOM_ADJ_VALUES is not set
