## Configs required by Jeabit-r2 4.14.271 kernel
# CONFIG_LTO_GCC is not set
# CONFIG_LTO is not set
#CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
#CONFIG_ARCH_SUPPORTS_THINLTO=y
CONFIG_LTO_NONE=y
# CONFIG_LTO_CLANG is not set
# CONFIG_THINLTO is not set
# CONFIG_HID_WALTOP is not set
# CONFIG_GCC_GRAPHITE is not set

## Enable modules support
CONFIG_ARCH_HAS_STRICT_MODULE_RWX=y
CONFIG_STRICT_MODULE_RWX=y
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULES_TREE_LOOKUP=y
CONFIG_ARM64_MODULE_CMODEL_LARGE=y
CONFIG_ARM64_MODULE_PLTS=y
CONFIG_RANDOMIZE_MODULE_REGION_FULL=y

#CONFIG_STRIP_ASM_SYMS is not set

## Avoid some frame big size warnings
CONFIG_FRAME_WARN=4096

# CONFIG_DM_BOW is not set

#CONFIG_MSM_CSPL=y
