# Ensure overlay gets built
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# WLAN
CONFIG_QCA_CLD_WLAN=y

# OTG
CONFIG_USB_OTG=y

# CIFS
CONFIG_CIFS=y

## Virtualization
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y
## BRANCH_PREDICTOR needed to avoid KVM build crash
CONFIG_HARDEN_BRANCH_PREDICTOR=y

## Watchdog
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_CORE=y
CONFIG_WATCHDOG_NOWAYOUT=y

## Enable sync framework options
CONFIG_SYNC=y
CONFIG_SW_SYNC=y
CONFIG_SW_SYNC_USER=y
CONFIG_ONESHOT_SYNC=y

## FW loader from user-space
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y

# dm crypt
CONFIG_DM_CRYPT=y

## kernel image compression
## For Droidian, in kernel-info.mk:
#KERNEL_BUILD_TARGET = Image.gz
# CONFIG_BUILD_ARM64_UNCOMPRESSED_KERNEL is not set
CONFIG_BUILD_ARM64_KERNEL_COMPRESSION_GZIP=y
CONFIG_KERNEL_GZIP=y
CONFIG_HAVE_KERNEL_GZIP=y
# CONFIG_HAVE_KERNEL_LZ4 is not set
# CONFIG_KERNEL_LZ4 is not set

## Linux image optimization
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set

## From vacummbeef)
# stune is needed by droidian-perf.service
CONFIG_SCHED_TUNE=y
CONFIG_SCHED_AUTOGROUP=y

## Sound Extras
CONFIG_SND_SEQUENCER=y

## block device network mirroring
CONFIG_DRBD=y

## Sensors IIO optimization
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGER=y

## FM
CONFIG_RADIO_IRIS=y
CONFIG_RADIO_IRIS_TRANSPORT=y

## Disable Android low memory killer
# CONFIG_HAVE_LOW_MEMORY_KILLER is not set
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set
# CONFIG_ANDROID_LOW_MEMORY_KILLER_AUTODETECT_OOM_ADJ_VALUES is not set
