## Causen error
#CONFIG_SECURITY_SMACK=y
#CONFIG_CC_WERROR=y
#CONFIG_AUDIT=y
#CONFIG_INTEGRITY_AUDIT=y
#CONFIG_SECURITY_PERF_EVENTS_RESTRICT=y


CONFIG_RWSEM_XCHGADD_ALGORITHM=y
CONFIG_GENERIC_BUG=y
CONFIG_GENERIC_BUG_RELATIVE_POINTERS=y
CONFIG_POSIX_MQUEUE=y
CONFIG_POSIX_MQUEUE_SYSCTL=y
CONFIG_TASK_DELAY_ACCT=y
CONFIG_PSI=y
# CONFIG_PSI_DEFAULT_DISABLED is not set
CONFIG_IKHEADERS=y
CONFIG_LOG_BUF_SHIFT=21
CONFIG_PELT_UTIL_HALFLIFE_32=y
# CONFIG_PELT_UTIL_HALFLIFE_16 is not set
CONFIG_PAGE_COUNTER=y
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG_SWAP_ENABLED=y
CONFIG_CGROUP_WRITEBACK=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_DEBUG=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_RD_XZ=y
CONFIG_KALLSYMS_ALL=y
CONFIG_BUG=y
# CONFIG_SLUB_MEMCG_SYSFS_ON is not set
#CONFIG_SLAB_FREELIST_RANDOM is not set
#CONFIG_SLAB_FREELIST_HARDENED is not set
CONFIG_PROFILING=y
#CONFIG_JUMP_LABEL is not set
#CONFIG_HAVE_RCU_TABLE_FREE=y
CONFIG_MODVERSIONS=y
CONFIG_ARM64_ERRATUM_826319=y
CONFIG_ARM64_ERRATUM_827319=y
CONFIG_ARM64_ERRATUM_824069=y
CONFIG_ARM64_ERRATUM_819472=y
CONFIG_ARM64_ERRATUM_832075=y
CONFIG_ARM64_ERRATUM_845719=y
CONFIG_ARM64_ERRATUM_1024718=y
CONFIG_ARM64_ERRATUM_1188873=y
CONFIG_CAVIUM_ERRATUM_22375=y
CONFIG_CAVIUM_ERRATUM_23154=y
CONFIG_CAVIUM_ERRATUM_27456=y
CONFIG_CAVIUM_ERRATUM_30115=y
CONFIG_QCOM_FALKOR_ERRATUM_1003=y
CONFIG_ARM64_WORKAROUND_REPEAT_TLBI=y
CONFIG_QCOM_FALKOR_ERRATUM_1009=y
CONFIG_QCOM_QDF2400_ERRATUM_0065=y
CONFIG_QCOM_FALKOR_ERRATUM_E1041=y
CONFIG_OKL4_GUEST=y
CONFIG_UNMAP_KERNEL_AT_EL0=y
CONFIG_MITIGATE_SPECTRE_BRANCH_HISTORY=y
CONFIG_ARM64_SW_TTBR0_PAN=y
CONFIG_PACKET_DIAG=y
CONFIG_UNIX_DIAG=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_OKL4_USER_VIRQ=y
# CONFIG_OKL4_RINGBUF is not set
# CONFIG_OKL4_USER_VIPC is not set
CONFIG_OKL4_LINK_SHBUF=y
CONFIG_MACVLAN=y
# CONFIG_MACVTAP is not set
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_TTY_FLUSH_LOCAL_ECHO=y
CONFIG_OKL4_VTTY=y
CONFIG_OKL4_VTTY_CONSOLE=y
CONFIG_RAW_DRIVER=y
CONFIG_MAX_RAW_DEVS=256
# CONFIG_MSM_RDBG is not set
CONFIG_RANDOM_TRUST_BOOTLOADER=y
CONFIG_OKL4_PIPE=y
CONFIG_SPMI_SIMULATOR=y
CONFIG_PM8150_PMIC_SIMULATOR=y
CONFIG_PM8150B_PMIC_SIMULATOR=y
CONFIG_PM8150L_PMIC_SIMULATOR=y
# CONFIG_LCD_CLASS_DEVICE is not set
CONFIG_HIDRAW=y
CONFIG_HID_ZYDACRON=y
# CONFIG_MSM_PERFORMANCE is not set
CONFIG_FRAME_POINTER=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_HARDENED_USERCOPY=y
# CONFIG_HARDENED_USERCOPY_PAGESPAN is not set
# CONFIG_SECURITY_SMACK_BRINGUP is not set
# CONFIG_SECURITY_SMACK_NETFILTER is not set
# CONFIG_SECURITY_SMACK_APPEND_SIGNALS is not set
CONFIG_INTEGRITY=y
# CONFIG_INTEGRITY_SIGNATURE is not set
# CONFIG_IMA is not set
# CONFIG_EVM is not set
CONFIG_AUDIT_GENERIC=y
CONFIG_AUDIT_COMPAT_GENERIC=y
CONFIG_DECOMPRESS_XZ=y
