CONFIG_NETLINK_DIAG=y
CONFIG_NET_SWITCHDEV=y
CONFIG_QRTR_FIFO=y

CONFIG_LEDS_QCOM_CLK=y

#
# Security options
CONFIG_ENCRYPTED_KEYS=y
CONFIG_SECURITY_WRITABLE_HOOKS=y
CONFIG_SECURITYFS=y
CONFIG_SECURITY_PATH=y
# CONFIG_STATIC_USERMODEHELPER is not set

# CONFIG_SECURITY_APPARMOR is not set
# CONFIG_SECURITY_SMACK is not set
# CONFIG_SECURITY_TOMOYO is not set
CONFIG_DEFAULT_SECURITY_SELINUX=y
# CONFIG_SECURITY_SELINUX_DISABLE is not set
ONFIG_DEFAULT_SECURITY="selinux"
CONFIG_SECURITY_SELINUX_AVC_STATS=y
CONFIG_SECURITY_SELINUX_CHECKREQPROT_VALUE=1
CONFIG_SECURITY_SELINUX_BOOTPARAM_VALUE=1


CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y

# Integrity
CONFIG_INTEGRITY=y
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_INTEGRITY_AUDIT=y
CONFIG_SIGNATURE=y
