# Halium modifications device specific

## Halium 12?
#CONFIG_NULL_TTY=y

## mem configs
CONFIG_PAGE_COUNTER=y
CONFIG_SWAP=y

# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_LOCALVERSION="-halium"

## Other configs from fxtecprox
CONFIG_USER_NS=y
CONFIG_FHANDLE=y
CONFIG_PM_AUTOSLEEP=y

## REQUIRED by mer halium tool
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_SYSVIPC_COMPAT=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_SYSFS_SYSCALL=y

## DUMMIE CONSOLE
# CONFIG_DUMMY_IRQ is not set
CONFIG_DUMMY=n
#CONFIG_DUMMY_CONSOLE=y
#CONFIG_DUMMY_CONSOLE_COLUMNS=80
#CONFIG_DUMMY_CONSOLE_ROWS=25

## Other halium configs by mer hallium tool
CONFIG_AUTOFS4_FS=y
CONFIG_ISO9660_FS=y
CONFIG_BTRFS_FS=y
CONFIG_CUSE=y
CONFIG_BLK_DEV_NBD=y
## Other halium friendly configs
CONFIG_BINFMT_MISC=y
CONFIG_USB_CONFIGFS_F_GSI=y
CONFIG_AUDITSYSCALL=y
CONFIG_SUSPEND_TIME=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_DEVPTS_MULTIPLE_INSTANCES=y
CONFIG_VT_CONSOLE=y
CONFIG_KEYS=y

## Bluetooth vayu crdroid by mer halium tool
#CONFIG_BT=y
#CONFIG_BT_RFCOMM=y
#CONFIG_BT_HCIUART_H4=y
#CONFIG_BT_HCIUART=y
#CONFIG_BT_BNEP=y
#CONFIG_BT_HIDP=y
#CONFIG_BT_BNEP_PROTO_FILTER=y
#CONFIG_BT_BNEP_MC_FILTER=y
#CONFIG_BT_HCIVHCI=y
#CONFIG_BT_RFCOMM_TTY=y

## NFS (Optional)
#CONFIG_NFS_ACL_SUPPORT=y
#CONFIG_NFS_COMMON=y
#CONFIG_SUNRPC_GSS=y
#CONFIG_NFS_USE_KERNEL_DNS=y
#CONFIG_NFS_V4=y
#CONFIG_SUNRPC=y
#CONFIG_NFS_V4_1=y
#CONFIG_NFS_FS=y
#CONFIG_LOCKD=y
#CONFIG_LOCKD_V4=y
